body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat_login {
    /* display: flex; */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.chat_login_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    overflow: auto;
    background: #fff;
    position: relative;
    border: 1px #5f5f5f solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
}

.chat_login_container {
    position: relative;
}

.chat_login_input {
    width: 300px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 18px;
}

.chat_login_invalid {
    background-color: brown;
}

.chat_login_form button {
    width: 150px;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 18px;
}

.chat_login_error {
    position: absolute;
    width: 300px;
    box-sizing: border-box;
    background-color: brown;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}

.chat_main {
    display: flex;
    align-items: flex-start
}

.chat_members {
    width: 200px;
    margin-top: 30px;
    border: 2px solid #190055;
    border-right: none;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chat_window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 500px;
    border: 2px solid #190055;
    border-radius: 20px;
}

.chat_messages {
    width: 560px;
    height: 410px;
    margin-top: 20px;
    overflow: auto;
}

.chat_input {
    width: 560px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}